{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}DjangoQL search syntax{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% block syntax_stylesheet %}{% static "djangoql/css/syntax_help.css" %}{% endblock %}" />
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content_title %}<h1>DjangoQL search syntax</h1>{% endblock %}

{% block content %}
  {# The help body is rendered from per-language Markdown (djangoql.syntax_help). #}
  {# When a Markdown compiler is installed it arrives as HTML; otherwise it is    #}
  {# raw Markdown shown verbatim in a <pre> block.                                #}
  <div id="content-main" class="djangoql-syntax-help">
    {% block syntax_help_body %}
      {% if is_html %}
        {{ body|safe }}
      {% else %}
        <pre class="djangoql-syntax-help-raw">{{ body }}</pre>
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
